<p><b><%= comment.name %></b> said:</p>

<p><%= comment.body %></p>

<p><i><small><%= time_ago_in_words(comment.created_at)%> ago</small></i></p>

<%= link_to 'delete', [comment.post, comment], method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } if admin? %>
<br>
<br>
