.about{
  background-color:#b2cecf;
}

.header{
  text-align: center;
}
.font-standard{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #434545;
  font-size: 14px;
  line-height: 1.6em;
  text-align: justify;
  margin: 10px;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  line-height: 50px;
  color:#29241E;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  line-height: 30px;
}

.img-circle {
  width: 200px;
  border-radius: 50%;
}

.list-inline li a:hover{
  text-decoration: none;
  color:#DFE8EB;
}
