<ul id="social-list">
  <li class="social-item">
    <a href="https://www.facebook.com/htjlamers">
      <i class="fa fa-facebook fa-2x"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="https://be.linkedin.com/in/isabellamers">
      <i class="fa fa-linkedin fa-2x"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="https://twitter.com/_AnaYs_">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.instagram.com/ana.yz/">
      <i class="fa fa-instagram fa-2x"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="https://github.com/AnaYs/">
      <i class="fa fa-github fa-2x"></i>
    </a>
  </li>
</ul>
