<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <div class="header">

        <h1>an@ys</h1>

        <%= image_tag 'profile_pic.jpg', class: "img-circle" %>
      </div>
      <div class="content">
        <div class="font-standard">
          <p>Ze al voorloopig in na ptolomaeus opgebracht ontsnappen. Halen zaken van uit mee wilde sinds echte roode. Nu bakjes kwamen ceylon breken gelukt sakais ik. Mei toekomst beletsel wieschen ton afstands per. Er alle en puin voor af na. Dus ader wel acre had worm hij. Eigendom moeilijk de of talrijke ad. Verrezen overgaat het afkoopen ton bij heb. Bakken te gambir op kwarts al.
          </p>
        </div>
      </div>

      <div class="links">
        <ul class="list-inline">
          <li>
            <%= link_to "https://github.com/AnaYs" do %>
              <i class="fa fa-github"></i>
              <br>
              my github
            <% end %>
          </li>
          <li class="text-center">
            <%= link_to "https://www.facebook.com/htjlamers" do%>
              <i class="fa fa-facebook-square"></i>
              <br>
              my facebook
              <% end %>
            </a>
          </li>
          <li class="text-center">
            <a href="https://ch.linkedin.com/in/isabellamers" target="_blank">
              <i class="fa fa-linkedin-square"></i>
              <br>
              my linkedin
            </a>
          </li>
          <li class="text-center">
            <a href="https://twitter.com/tami_cam" target="_blank">
              <i class="fa fa-twitter"></i>
              <br>
              my twitter
            </a>
          </li>
        </ul>
      </div>

        <%= link_to 'all posts', posts_path %>
    </div>
  </div>
</div>
