<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden = "true", class = "true", data-dismiss = "modal", type = "button">x</button>
      <h1>Don't dare spam me.</h1>
      <p>I'm reading you're message write now and it better be important. Just kidding ... Thanks for getting in touch!</p>
    </div>
  </div>
</div>
