<div class="section active" id="section1337">
  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <h3 class="post_title">Chasing latitudes</h3>
        <small>
          <p>
            A blog by Anna Isabel Lamers
          </p>
        </small>
      </div>

    </div>

    <div class="row">
      <%= link_to "#{@sample_post.title}", post_path(Post.first), class: "btn btn-primary outline" %>
    </div>

    <div class="row" id="home_arrow">
      <i class="fa fa-arrow-down fa-3x white" aria-hidden="true"></i>
    </div>

  </div>
</div>
