/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  opacity: 0.8;
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin-top: 53px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  &-info {
    background: $green;
  }
  &-warning {
    background: $red;
  }
}
