// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
//*= require owl.carousel
//*= require owl.theme

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "owl.carousel";
@import "owl.theme";
// @import "vendor/index";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";
@import "components/buttons";

/* universal */

ul {
  overflow: auto;
}

ul li {
  list-style-type: none;
  float: left;
}

ul li a i {
  background: #205D7A;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 27px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

.fa-facebook {
  background:#3b5998
}
.fa-linkedin {
  background:#007bb6
}
.fa-twitter {
  background:#00aced
}
.fa-instagram {
  background:#007bb6
}
.fa-github {
  background:black
}

ul li a i {
  transition: all 0.2s ease-in-out;
}
ul li a i:hover {
  opacity: .7;
}








// -----------------------------------

p.italic {
    font-style: italic;
}

p.normal {
  font-weight: normal;
}

p.thin {
  font-weight: 200;
}

.about-image {
  positioning: absolute;
}

a:link {
    color: white;
}

a:active {
    color: grey;
}

a:visited {
    color: white;
}

.modal-backdrop
{
    opacity:0.1 !important;
}

.modal-lg {
  width: 80%;
  opacity:0.9 !important;
}

.modal-dialog {
  margin: 52px auto;
}

.modal-body {
  background-color: #1F1F1F;
}

.modal-footer {
  background-color: #1F1F1F;
}

.modal-body > p {
  color: white;
}


